.container{
  max-width: 1300px;
  margin: 0 auto;
}
.header{
  background-image: url(https://i.pinimg.com/564x/ca/e6/06/cae6061ea4b710269c8ac4f782428758.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text_1{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #000;
  padding-top: 20px;
  padding-bottom: 15px; 
}
.text_2{
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  color: black;
  padding-bottom: 15px;
}
.button{
    display: block;
    margin: 0 auto;
   width: 300px;
   height: 100px;
   background-image: url(https://i.pinimg.com/564x/fa/29/4b/fa294b4adb41147c4cab31db595603b0.jpg);
   /* background-position: center;
   background-repeat: no-repeat;
   background-size: cover; */
   border: black 2px bold;
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   color: violet;
   border-radius: 20px;
   font-family: 'Times New Roman', Times, serif;
}
.button:active{
    background-image: url(https://i.pinimg.com/564x/f5/da/d9/f5dad957a4e5c9474e18d9975a40ee05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.button:hover{
    cursor: pointer;
    background-image: url(https://i.pinimg.com/564x/f5/da/d9/f5dad957a4e5c9474e18d9975a40ee05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: wheat;
    animation-name: but;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

  
